body{
    font-family: 'Work Sans', sans-serif;
    background: black;
}
.faq-heading{
    border-bottom: #ed3528;
    padding: 20px 60px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
  width: 60%;
  margin: auto;
  
}
.faq-page {
    color: #ed3528;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}
.faq-body{
    margin: auto;
   width: 50%; 
   padding: auto;
   
}
.active,
.faq-page:hover {
    background-color: #141414;
}
.faq-body {
    padding: 0 18px;
    background-color: rgb(0, 0, 0);
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02795';
    font-size: 13px;
    color: #ed3528;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
}